In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 1. Read the dataset to python environment.

In [1]:
data=pd.read_excel("C:/Users/91773/Downloads/iris (1).xls")

NameError: name 'pd' is not defined

In [3]:
data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

# 2. Display the columns in the dataset

In [4]:
for col in data.columns:
  print(col)

SL
SW
PL
PW
Classification

# 3. Calculate the mean of each column of the dataset.

In [5]:
data.mean(axis=0)

SL    5.843333
SW    3.054000
PL    3.758667
PW    1.198667
dtype: float64

# 4. Check for the null values present in the dataset.

In [6]:
data.isnull()

        SL     SW     PL     PW  Classification
0    False  False  False  False           False
1    False  False  False  False           False
2    False  False  False  False           False
3    False  False  False  False           False
4    False  False  False  False           False
..     ...    ...    ...    ...             ...
145  False  False  False  False           False
146  False  False  False  False           False
147  False  False  False  False           False
148  False  False  False  False           False
149  False  False  False  False           False

[150 rows x 5 columns]

# 5. Perform meaningful visualizations using the dataset. Bring at least 3 visualizations.

# a. Dispalying the sheet for Iris-setosa Classification and plotting its mean Graph

In [7]:
df=data[data['Classification']=="Iris-setosa"]
df

     SL   SW   PL   PW Classification
0   5.1  3.5  1.4  0.2    Iris-setosa
1   4.9  3.0  1.4  0.2    Iris-setosa
2   4.7  3.2  1.3  0.2    Iris-setosa
3   4.6  3.1  1.5  0.2    Iris-setosa
4   5.0  3.6  1.4  0.2    Iris-setosa
5   5.4  3.9  1.7  0.4    Iris-setosa
6   4.6  3.4  1.4  0.3    Iris-setosa
7   5.0  3.4  1.5  0.2    Iris-setosa
8   4.4  2.9  1.4  0.2    Iris-setosa
9   4.9  3.1  1.5  0.1    Iris-setosa
10  5.4  3.7  1.5  0.2    Iris-setosa
11  4.8  3.4  1.6  0.2    Iris-setosa
12  4.8  3.0  1.4  0.1    Iris-setosa
13  4.3  3.0  1.1  0.1    Iris-setosa
14  5.8  4.0  1.2  0.2    Iris-setosa
15  5.7  4.4  1.5  0.4    Iris-setosa
16  5.4  3.9  1.3  0.4    Iris-setosa
17  5.1  3.5  1.4  0.3    Iris-setosa
18  5.7  3.8  1.7  0.3    Iris-setosa
19  5.1  3.8  1.5  0.3    Iris-setosa
20  5.4  3.4  1.7  0.2    Iris-setosa
21  5.1  3.7  1.5  0.4    Iris-setosa
22  4.6  3.6  1.0  0.2    Iris-setosa
23  5.1  3.3  1.7  0.5    Iris-setosa
24  4.8  3.4  1.9  0.2    Iris-setosa
25  5.0  3.0  1.6  0.2    Iris-setosa
26  5.0  3.4  1.6  0.4    Iris-setosa
27  5.2  3.5  1.5  0.2    Iris-setosa
28  5.2  3.4  1.4  0.2    Iris-setosa
29  4.7  3.2  1.6  0.2    Iris-setosa
30  4.8  3.1  1.6  0.2    Iris-setosa
31  5.4  3.4  1.5  0.4    Iris-setosa
32  5.2  4.1  1.5  0.1    Iris-setosa
33  5.5  4.2  1.4  0.2    Iris-setosa
34  4.9  3.1  1.5  0.1    Iris-setosa
35  5.0  3.2  1.2  0.2    Iris-setosa
36  5.5  3.5  1.3  0.2    Iris-setosa
37  4.9  3.1  1.5  0.1    Iris-setosa
38  4.4  3.0  1.3  0.2    Iris-setosa
39  5.1  3.4  1.5  0.2    Iris-setosa
40  5.0  3.5  1.3  0.3    Iris-setosa
41  4.5  2.3  1.3  0.3    Iris-setosa
42  4.4  3.2  1.3  0.2    Iris-setosa
43  5.0  3.5  1.6  0.6    Iris-setosa
44  5.1  3.8  1.9  0.4    Iris-setosa
45  4.8  3.0  1.4  0.3    Iris-setosa
46  5.1  3.8  1.6  0.2    Iris-setosa
47  4.6  3.2  1.4  0.2    Iris-setosa
48  5.3  3.7  1.5  0.2    Iris-setosa
49  5.0  3.3  1.4  0.2    Iris-setosa

In [8]:
df.mean()

SL    5.006
SW    3.418
PL    1.464
PW    0.244
dtype: float64

In [9]:
x=[]
x=df1.columns
x=x.drop("Classification")
x

NameError: name 'df1' is not defined

In [ ]:
df_y=[]
df_y=df.mean()
df_y

In [ ]:
plt.plot(x,df_y)
plt.title("Iris-setosa")
plt.show()

# b. Dispalying the sheet for Iris-versicolor Classification and plotting its mean Graph

In [ ]:
df1=data[data['Classification']=="Iris-versicolor"]
df1

In [ ]:
df1.mean()

In [ ]:
xa=[]
xa=df1.columns
xa=xa.drop("Classification")
xa

In [ ]:
yaxis=[]
yaxis=df1.mean(axis=0)
yaxis

In [ ]:
plt.plot(xa,yaxis)
plt.title("Iris-versicolor")
plt.show()

# c.Dispalying the sheet for Iris-virginica Classification and plotting its mean Grap

In [ ]:
df2=data[data['Classification']=="Iris-virginica"]
df2

In [ ]:
df2.mean()

In [ ]:
df2_x=[]
df2_x=df2.columns
df2_x=df2_x.drop("Classification")
df2_x

In [ ]:
df2_y=[]
df2_y=df2.mean(axis=0)
df2_y

In [ ]:
plt.plot(df2_x,df2_y)
plt.title("Iris-virginica")
plt.show()

In [ ]:
# d.Plotting the mean Graph

In [ ]:
x_axis=[]
x_axis=data.columns
x_axis

In [ ]:
x=x_axis.drop("Classification")
x

In [ ]:
y_axis=[]
y_axis=data.mean(axis=0)
y_axis

In [ ]:
plt.plot(x,y_axis)
plt.title("mean")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.show()